<h1 id="tableLabel">Sueldos</h1>

<p *ngIf="!forecasts?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts.length">
  <thead>
    <tr>
      <th>Empleado</th>
      <th>Sueldo Mensual</th>
      <th>Forma de pago</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.empleadoID }}</td>
      <td>{{ forecast.sueldoMensual }}</td>
      <td>{{ forecast.formaPago }}</td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="openModal()">Agregar</button>

<div class="modal-container" [class.active]="modalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="register-form">
      <h4>Insertar elemento</h4>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>EmpleadoID</label>
          <input type="number"
                 formControlName="empleadoID"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.empleadoID.errors }" />
          <div *ngIf="submitted && f.empleadoID.errors" class="invalid-feedback">
            <div *ngIf="f.empleadoID.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
          <label>Sueldo Mensual</label>
          <input type="number"
                 formControlName="sueldoMensual"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.sueldoMensual.errors }" />
          <div *ngIf="submitted && f.sueldoMensual.errors" class="invalid-feedback">
            <div *ngIf="f.sueldoMensual.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
          <label>Forma de Pago</label>
          <select formControlName="formaPago"
                 class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.formaPago.errors }" >
            <option value="Efectivo">Efectivo</option>
            <option value="Transferencia">Transferencia</option>
          </select>
          <div *ngIf="submitted && f.formaPago.errors" class="invalid-feedback">
            <div *ngIf="f.formaPago.errors.required">Campo requerido</div>
          </div>
        </div>
        <div class="form-group">
          <button type="button"
                  (click)="onReset()"
                  class="btn btn-warning float-right">
            Reset
          </button>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
